[Unit]
Description=Daily Wallpaper Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-wallpaper.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
