[Unit]
Description=Dynamic Wallpaper Download and Set
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dynamic-wallpaper.sh
# Adding RemainAfterExit so that any processes started remain running
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target